DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres
# I used supabase's session pooler to connect with the database and not direct connection because it only resolved to IPv6 which was failing on my network.