DATABASE_URL=postgresql://postgres.jtvjaaguwjozhblejize:AssessInternAK@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres
# I used supabase's session pooler to connect with the database and not direct connection because it only resolved to IPv6 which was failing on my network.